@import "./../../stylesheets/variables.scss";

.net-banking {
  .default-banks {
    .bank-name {
      font-size: $font-size-larger;
      display: inline-block;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background: #00adb7;
      position: relative;
      margin: 0 $gutter-width;
      border: solid 1px $border-color;
      span {
        position: absolute;
        top: 23px;
        left: 16px;
        color: $tertiary-font-color;
      }
    }
  }
  .search-container {
    margin-top: $gutter-width;
    input {
      font-size: $font-size-larger;
    }
  }
}