@import "./../../stylesheets/variables.scss";

.card-payment {
  .input-container {
    padding-top: $gutter-width;
    label {
      font-size: $font-size-medium;
    }
    input {
      margin-left: $gutter-width;
      font-size: $font-size-large;
    }
  }
}